doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/font-awesome.min.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href=`css/main.css`)
        script(src="js/jquery.js")
        title Employee page
    body
        .wrapper
            mixin worked(elem)
                tr 
                    th= elem.work_text
                    case elem.work_type
                        when "1"
                            th Tayyorgarlik va yakuniy
                        when "2"
                            th Ish joyiga xizmat ko'rsatish
                        when "3"
                            th Statistik ishlarning bajarilishi
                        when "4"
                            th Reglamentlangan tanafus
                        when "5"
                            th Qisqa tanafus
                        when "6"
                            th Boshqa funksialar
                        default
                            th salom
                    th= new Date(elem.start_date).getHours() + ":" + new Date(elem.start_date).getMinutes()
                    th= new Date(elem.finish_date).getHours() + ":" + new Date(elem.finish_date).getMinutes()
                    th= elem.duration
                    th= elem.work_code
            .my-navbar
                a(href="/" class="active") Home
                a(href="https://stat.uz/uz/") Stat.uz
                //- a(href="#") Link
                a(href="/" class="right") Login
            .my-row 
                .side 
                    h2 Xodim
                    h5= user.firs_name + " " + user.last_name + " " + user.father_name
                    div(class="fakeimg")= user.management + " " + user.section + " " + user.position
                    br
                    h5 Vaqt daqiqalarda
                    table.table.table-bordered
                        thead   
                            tr 
                                th Jami
                                th= parseInt(type_minuts.type1) + parseInt(type_minuts.type2) + parseInt(type_minuts.type3) + parseInt(type_minuts.type4) + parseInt(type_minuts.type5) + parseInt(type_minuts.type6)
                        tbody 
                            tr 
                                td Tayyorgarlik va yakuniy
                                td= type_minuts.type1
                            tr 
                                td Ish joyiga xizmat ko'rsatish
                                td= type_minuts.type2
                            tr 
                                td Statistik ishlarning bajarilishi
                                td= type_minuts.type3
                            tr 
                                td Reglamentlangan tanafus
                                td= type_minuts.type4
                            tr 
                                td Qisqa tanafus
                                td= type_minuts.type5
                            tr 
                                td Boshqa funksialar
                                td= type_minuts.type6
                .main 
                    h2 XODIMNING KUNLIK BAJARGAN ISHLARI
                    br
                    h5= new Date(`${query.date}`).getUTCDate() + "/" + (new Date(`${query.date}`).getUTCMonth() + 1) + "/" + new Date(`${query.date}`).getUTCFullYear()
                    form(id="form-login" data_id=user._id)
                        .form-group
                            table.table.table-bordered
                                thead 
                                    tr 
                                        th Amallar
                                        th Vazifa turi
                                        th Amalning boshlanish vaqti
                                        th Amalning tugash vaqti
                                        th Davomiyligi (daqiqa)
                                        th Ish kodi
                                tbody 
                                    each elem in works
                                        +worked(elem)
                        a(href=`/download_pdf?user_id=${query.user_id}&date=${query.date}` id="elementH" target="_blank") Ko'rish chop etish
                    br
                    script(src="js/main.js")
            //- .footer 
            //-     h4 Axborot-kommunikatsiya texnologiyalarini rivojlantirish va interaktiv davlat xizmatlari boshqarmasi
